[submodule "intro_to_cuda"]
	path = intro_to_cuda
	url = git@github.com:SethHWeidman/intro_to_cuda.git

[submodule "GPU-Puzzles"]
	path = GPU-Puzzles
	url = git@github.com:SethHWeidman/GPU-Puzzles.git

[submodule "LLMs-from-scratch"]
	path = LLMs-from-scratch
	url = git@github.com:SethHWeidman/LLMs-from-scratch.git
[submodule "flash-attn-101"]
	path = flash-attn-101
	url = git@github.com:SethHWeidman/flash-attn-101.git
